body{
	background: white;
}

input{
	width: 100%;
	padding: 30px 30px;
	box-sizing: border-box;
	border: 2px solid green;
	background-color: #3CAAA2

}

textarea{
	width: 100%;
	height: 150px;
	padding: 15px 25px;
	box-sizing: border-box;
	border: 2px solid green;
	border-radius: 3px;
	background-color: green;
	resize: none;

}

label{
	font-size: 25px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: black;
	width: 25px;
	height: 25px;
	border: 1px solid green;
	box-sizing:border-box;
	
	}

